:host
{
	background:#fff;
	contain:content;
	display:flex;
	flex-direction:column;
	height:100%;
	width:100%;
}

.row
{
	display:flex;
	flex-direction:row;
}

label
{
	display:block;
}

button
{
	min-height:1.5rem;
	min-width:1.5rem;
	padding:0;
}
.tabs
{
	background-color:#999;
	display:flex;
	flex-direction:row;
}
.tab
{
	background:transparent;
	border:0;
	padding:0.25rem 0.5rem;
}
.tab.active
{
	background-color:#fff;
}
input[type=range]
{
	-webkit-appearance:none;
	background:transparent;
	margin:0;
	height:100%;
}
	input[type=range]::-webkit-slider-thumb
	{
		-webkit-appearance:none;
		border:0.05rem solid #222;
		border-radius:0.1rem;
		background:transparent;
		cursor:pointer;
		margin-top:0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		box-shadow:0 0 0.2rem #222, inset 0 0 0.1rem #fff;
		height:1.5rem;
		width:1.5rem;
	}
input[type="range"]:focus
{
	outline:none;
}
.gradient
{
	display:inline-flex;
	position:relative;
}
.gradient canvas,
output::before
{
	background-color:#fff;
	background-image:
		linear-gradient(0deg,rgba(153,153,153,0.5) 50%,transparent 50%),
		linear-gradient(90deg,transparent 50%,rgba(153,153,153,0.5) 50%);
	background-size:1.5rem 100%, 1.5rem 100%;/*el height, 100% el width*/
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:-1;
}
output
{
	color:#fff;
	font-size:1.125rem;
	margin:0.125rem;
	padding:0.25rem;
	position:relative;
	text-align:center;
	text-shadow:0 0 0.2rem #000;
}
output::before
{
	content:"";
}